* {
  font-family: helvetica, sans-serif;
}

header {
  display: flex;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.headerRight {
  margin-left: auto;
}

.headerRight p {
  text-align: right;
}

.App {
  
}

.Cards {
  display: flex; 
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card img {
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 6px;
}

.card {
  width: 225px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 6px;
}

.card p {
  text-align: center;
  margin-top: auto;
  margin-bottom: 12px;
  background-color: whitesmoke;
}

.card img {
  margin: auto;

}